.header-features{
  width: 50vw;
  margin: 3rem auto 3.2rem auto;
  h2, p{
    text-align:center;
  }
}

.container-features{
  .row{
    margin: 0 5rem 4rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7rem;
    .content-features{
      border: 1px solid black;
      padding: 1.5rem;
      border-radius: 5px;
    }
  }
}

.content-features-body{
  strong{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: .5rem;
  }

  p{
    text-align:left;
  }
}