.container-footer{
  border-top: 1px solid black;
  width: 100%;
  padding: 2.2rem 5rem;
  .content-footer-top{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid black;
    div{
      padding: 1rem 1rem 1rem 0;
      h2{
        font-size: 1.2rem;
      }
      h3{
        font-size: 1.2rem;
      }
    }

    .content-footer-top_left{
      border-left: 1px solid black;
      padding-left: 1rem;
    }

  }
}


.content-footer-top_center{
  section{
    border-left: 1px solid black;
    padding-left: 1rem;
    ol{
      margin-bottom: 0;
      line-height: 1.8;
      padding: 0;
      list-style-type: none;
    }
  }
}


.content-footer-top_right{
  section{
    border-left: 1px solid black;
    padding-left: 1rem;
    strong{
      display: flex;
      align-items: center;
      line-height: 2;
      font-weight: normal;
      span{
        margin-left: 1rem;
      }
    }
  }
}

.content-footer-bottom{
  margin-top: .8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div:first-child{
    h3{
      font-size: .9rem;
    }
  }

  a{
    text-decoration: none;
    margin-right: 1.5rem;
    color: black;
    font-size: 1.2rem;
  }
}

